<ion-header> 
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        Basic Details
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <p><strong>Name : </strong>HIMANSHU PEDNEKAR</p>
          <div></div>
          <p><strong>UID : </strong>2018450039</p>
          <div></div>
          <p><strong>Class : </strong>SY MCA</p>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>Account Details</ion-card-header>
      <ion-card-content>
        <div class="wrapper">
          <div>
            <p><strong>Password : *********</strong></p>
          </div>
          <p><ion-icon name="pencil-outline"></ion-icon></p>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
  <div class="aligncenter">
    <ion-button expand="block">LOG OUT</ion-button>
  </div>
  


</ion-content>