ion-avatar {
    display: flex;
    justify-content: start;
    align-items: center;
}


img {
    height: 50%;
    width: 50%;
}

ion-card {
    margin-bottom: 3rem;
}

ion-card-content {
    padding: 0px;
}