<ion-card>
  <ion-card-content *ngIf="!isDate; else calender">
    <ion-item lines="none">
      <ion-avatar>
        <img [src]="iconName" alt="">
        <!-- <ion-icon [name]="iconName"></ion-icon> -->
      </ion-avatar>
      <ion-text>
        <h3>{{data}}</h3>
      </ion-text>
    </ion-item>
  </ion-card-content>
  <ng-template #calender>
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar>
          <img [src]="iconName" alt="" style="">
          <!-- <ion-icon [name]="iconName"></ion-icon> -->
        </ion-avatar>
        <ion-text>
          <h3>{{data | date}}</h3>
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ng-template>

</ion-card>