ion-fab {
    color: wheat;
}

ion-fab-button {
    height: 40px;
    width: 40px;
}

.div-img {
  height: 4rem;
  width: 4rem;
}
img{
    height: 100%;
    width: 100%;
}

ion-card{
    height: 5rem !important;
}

.title{
    color: black;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}