<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8"></ion-col>
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row> -->

  <ion-grid>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onRangeChanged)="reloadSource(startTime, endTime)" (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
    </calendar>
  </ion-grid>


  <!-- <ion-row>
    Change the displayed calendar mode
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
        (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
        (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">
        Day</ion-button>
    </ion-col>
    Move back one screen of the slides
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8"></ion-col>
    Move forward one screen of the slides
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row> -->



  <!-- Card for adding a new event -->





  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-row>
      <ion-col>
        <ion-fab-button class="current-date" (click)="today()">
          {{calendar.currentDay}}
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button (click)="addUser()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button [color]="calendar.mode == 'month' ? 'dark' : 'light'" (click)="changeMode('month')">
        <span>M</span>
      </ion-fab-button>
      <ion-fab-button [color]="calendar.mode == 'week' ? 'dark' : 'light'" (click)="changeMode('week')">
        <span>W</span>
      </ion-fab-button>
      <ion-fab-button [color]="calendar.mode == 'day' ? 'dark' : 'light'" (click)="changeMode('day')">
        <span>D</span>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>