<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="home" text="Home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="detail-div">
    <detail-holder [data]="data.name" [iconName]="person"></detail-holder>
    <detail-holder [data]="data.email" [iconName]="mail"></detail-holder>
    <detail-holder [data]="data.address" [iconName]="location"></detail-holder>
    <detail-holder [data]="data.dob" [iconName]="cake" isDate="true"></detail-holder>
  </div>
</ion-content>