<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upper">
    <img [src]="imageLink">
  </div>
  <div class="lower">
    <about-content title="About Us"></about-content>
    <about-content title="Institutional Value"></about-content>
    <about-content title="Vision and Mission"></about-content>
    <about-content title="Founder's Message"></about-content>
  </div>

</ion-content>