@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

ion-title {
  letter-spacing: 1px;
}

ion-toolbar {
  --background: #1eb2a6;
  --color: #fff;
}

ion-row {
  display: flex;
  justify-content: center;
  padding: 1px;
  margin-top: 1rem;

  & ion-label {
    font-size: large;
    letter-spacing: 1px;
    font-family: "PlayFair Display";
    font-weight: 700;
    margin-top: .2rem;
  }
}

// .image-div{
//   height: 70%;
//   width: 70%;
//   border: 1px;
//   border-radius: 10rem;

//   & img{
//     height: 100%;
//     width: 100%;
//   }
// }