<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="task"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <img *ngIf="imgURL" class="card-img-top img-thumbnail" style="height: 15rem" [src]="imgURL">
    <input #file style="display:none" name="image" id="image" type="file" (change)="preview(file.files)"
      accept="image/*">
    <ion-button (click)="file.click()">Change Picture</ion-button>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="title" #email="ngModel" name="title" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="description" #email="ngModel" name="decription" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="add()">Add</ion-button>
    </ion-item>
  </ion-row>

</ion-content>